/*--------------- VARIABLES ---------------*/
/* Colores */
/* Fuentes */
/*------------FIN VARIABLES-------------*/
/*RESET y ESTILOS GENERALES*/
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box; }

html {
  height: auto;
  width: 100%; }

body {
  font-family: "Roboto Mono", monospace;
  background-image: url("../assets/img/background/nivel19.jpg");
  background-attachment: fixed;
  background-size: cover;
  height: 100%;
  min-height: 100%; }

.titulo {
  color: #fde7f8;
  font-weight: bold;
  text-shadow: #ec0785 0px 0px 0.2em;
  text-align: center; }

/*FIN ESTILOS GENERALES*/
/*----------SECCION LAYOUT ----------*/
/* MAIN */
.main {
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center; }

/*   FOOTER                                                    */
.footer {
  color: #fde7f8;
  background-color: #d14ea5cc;
  padding: 1em; }

.footer h6 {
  font-size: small;
  line-height: 1em; }

/*----------SECCION ELEMENTOS ----------*/
/* /* /*-------------------------------- LUCES DE NEON ----------------------------------- */
/* @-webkit-keyframes turnonlights {
    0%         { color: #6d5669; text-shadow: 0 0 3px #635861, 0 0 5px #635861; }
    1%         { color: #ff55de; text-shadow: 0 0 5px #ff99de, 0 0 10px #ff99de, 0 0 17px #ff00de, 0 0 38px #ff00de}
    4%         { color: #ff55de; text-shadow: 0 0 5px #ff99de, 0 0 10px #ff99de, 0 0 17px #ff00de, 0 0 38px #ff00de}
    7%         { color: #6d5669; text-shadow: 0 0 3px #635861, 0 0 5px #635861; }
    8%         { color: #ff55de; text-shadow: 0 0 5px #ff99de, 0 0 10px #ff99de, 0 0 17px #ff00de, 0 0 38px #ff00de}
    12%        { color: #6d5669; text-shadow: 0 0 3px #635861, 0 0 5px #635861; }
    22%        { color: #6d5669; text-shadow: 0 0 3px #635861, 0 0 5px #635861; }
    23%        { color: #ff55de; text-shadow: 0 0 5px #ff99de, 0 0 10px #ff99de, 0 0 15px #ff99de, 0 0 20px #ff00de, 0 0 30px #ff00de, 0 0 40px #ff00de; }
    26%        { color: #6d5669; text-shadow: 0 0 3px #635861, 0 0 5px #635861; }
    28%        { color: #ff55de; text-shadow: 0 0 5px #ff99de, 0 0 10px #ff99de, 0 0 17px #ff00de, 0 0 38px #ff00de}
    34%        { color: #ff55de; text-shadow: 0 0 5px #ff99de, 0 0 10px #ff99de, 0 0 15px #ff99de, 0 0 20px #ff00de, 0 0 30px #ff00de, 0 0 40px #ff00de; }
    36%        { color: #6d5669; text-shadow: 0 0 3px #635861, 0 0 5px #635861; }
    42%        { color: #ff55de; text-shadow: 0 0 5px #ff99de, 0 0 10px #ff99de, 0 0 17px #ff00de, 0 0 38px #ff00de}
    55%        { color: #ff55de; text-shadow: 0 0 5px #ff99de, 0 0 10px #ff99de, 0 0 15px #ff99de, 0 0 20px #ff00de, 0 0 30px #ff00de, 0 0 40px #ff00de; }
    60%        { color: #6d5669; text-shadow: 0 0 3px #635861, 0 0 5px #635861; }
    63%        { color: #ff55de; text-shadow: 0 0 5px #ff99de, 0 0 10px #ff99de, 0 0 15px #ff99de, 0 0 20px #ff00de, 0 0 30px #ff00de, 0 0 40px #ff00de; }
    67%        { color: #6d5669; text-shadow: 0 0 3px #635861, 0 0 5px #635861; }
    72%        { color: #6d5669; text-shadow: 0 0 3px #635861, 0 0 5px #635861; }
    73%        { color: #ff55de; text-shadow: 0 0 5px #ff99de, 0 0 10px #ff99de, 0 0 17px #ff00de, 0 0 38px #ff00de}
    76%        { color: #6d5669; text-shadow: 0 0 3px #635861, 0 0 5px #635861; }
    78%        { color: #ff55de; text-shadow: 0 0 5px #ff99de, 0 0 10px #ff99de, 0 0 17px #ff00de, 0 0 38px #ff00de}
    84%        { color: #ff55de; text-shadow: 0 0 5px #ff99de, 0 0 10px #ff99de, 0 0 15px #ff99de, 0 0 20px #ff00de, 0 0 30px #ff00de, 0 0 40px #ff00de; }
    86%        { color: #6d5669; text-shadow: 0 0 3px #635861, 0 0 5px #635861; }
    96%        { color: #ff55de; text-shadow: 0 0 5px #ff99de, 0 0 10px #ff99de, 0 0 17px #ff00de, 0 0 38px #ff00de}
    100%       { color: #ff55de; text-shadow: 0 0 5px #ff99de, 0 0 10px #ff99de, 0 0 15px #ff99de, 0 0 20px #ff00de, 0 0 30px #ff00de, 0 0 40px #ff00de; }
} */
/* 
@-moz-keyframes turnonlights {
    0%         { color: #6d5669; text-shadow: 0 0 3px #635861, 0 0 5px #635861; }
    1%         { color: #ff55de; text-shadow: 0 0 5px #ff99de, 0 0 10px #ff99de, 0 0 17px #ff00de, 0 0 38px #ff00de}
    4%         { color: #ff55de; text-shadow: 0 0 5px #ff99de, 0 0 10px #ff99de, 0 0 17px #ff00de, 0 0 38px #ff00de}
    7%         { color: #6d5669; text-shadow: 0 0 3px #635861, 0 0 5px #635861; }
    8%         { color: #ff55de; text-shadow: 0 0 5px #ff99de, 0 0 10px #ff99de, 0 0 17px #ff00de, 0 0 38px #ff00de}
    12%        { color: #6d5669; text-shadow: 0 0 3px #635861, 0 0 5px #635861; }
    22%        { color: #6d5669; text-shadow: 0 0 3px #635861, 0 0 5px #635861; }
    23%        { color: #ff55de; text-shadow: 0 0 5px #ff99de, 0 0 10px #ff99de, 0 0 15px #ff99de, 0 0 20px #ff00de, 0 0 30px #ff00de, 0 0 40px #ff00de; }
    26%        { color: #6d5669; text-shadow: 0 0 3px #635861, 0 0 5px #635861; }
    28%        { color: #ff55de; text-shadow: 0 0 5px #ff99de, 0 0 10px #ff99de, 0 0 17px #ff00de, 0 0 38px #ff00de}
    34%        { color: #ff55de; text-shadow: 0 0 5px #ff99de, 0 0 10px #ff99de, 0 0 15px #ff99de, 0 0 20px #ff00de, 0 0 30px #ff00de, 0 0 40px #ff00de; }
    36%        { color: #6d5669; text-shadow: 0 0 3px #635861, 0 0 5px #635861; }
    42%        { color: #ff55de; text-shadow: 0 0 5px #ff99de, 0 0 10px #ff99de, 0 0 17px #ff00de, 0 0 38px #ff00de}
    55%        { color: #ff55de; text-shadow: 0 0 5px #ff99de, 0 0 10px #ff99de, 0 0 15px #ff99de, 0 0 20px #ff00de, 0 0 30px #ff00de, 0 0 40px #ff00de; }
    60%        { color: #6d5669; text-shadow: 0 0 3px #635861, 0 0 5px #635861; }
    63%        { color: #ff55de; text-shadow: 0 0 5px #ff99de, 0 0 10px #ff99de, 0 0 15px #ff99de, 0 0 20px #ff00de, 0 0 30px #ff00de, 0 0 40px #ff00de; }
    67%        { color: #6d5669; text-shadow: 0 0 3px #635861, 0 0 5px #635861; }
    72%        { color: #6d5669; text-shadow: 0 0 3px #635861, 0 0 5px #635861; }
    73%        { color: #ff55de; text-shadow: 0 0 5px #ff99de, 0 0 10px #ff99de, 0 0 17px #ff00de, 0 0 38px #ff00de}
    76%        { color: #6d5669; text-shadow: 0 0 3px #635861, 0 0 5px #635861; }
    78%        { color: #ff55de; text-shadow: 0 0 5px #ff99de, 0 0 10px #ff99de, 0 0 17px #ff00de, 0 0 38px #ff00de}
    84%        { color: #ff55de; text-shadow: 0 0 5px #ff99de, 0 0 10px #ff99de, 0 0 15px #ff99de, 0 0 20px #ff00de, 0 0 30px #ff00de, 0 0 40px #ff00de; }
    86%        { color: #6d5669; text-shadow: 0 0 3px #635861, 0 0 5px #635861; }
    96%        { color: #ff55de; text-shadow: 0 0 5px #ff99de, 0 0 10px #ff99de, 0 0 17px #ff00de, 0 0 38px #ff00de}
    100%       { color: #ff55de; text-shadow: 0 0 5px #ff99de, 0 0 10px #ff99de, 0 0 15px #ff99de, 0 0 20px #ff00de, 0 0 30px #ff00de, 0 0 40px #ff00de; }
}  */
/* 
.title {
    color: #222;
    text-align: center;
    letter-spacing: 0.15em;
    font-weight: 700;
    font-size: 2.6em;
    text-transform: uppercase;
    color: #222; text-shadow: 0px 2px 3px #555;
} */
/* .encendido {
    color: $color-texto;
    font-weight: bold;
    text-shadow: #ec0785 0px 0px 0.2em;
    text-align: center;
    font-family: "Roboto Mono", monospace;
    -webkit-animation-name: turnonlights;
    -webkit-animation-duration: 3.0s;
    -webkit-animation-fill-mode: both;
    -webkit-animation-timing-function: steps(2, start);
    -moz-animation-name: turnonlights;
    -moz-animation-duration: 3.0s;
    -moz-animation-fill-mode: both;
    -moz-animation-timing-function: steps(2, start);      
}
 */
/*-------------------------------- NAVEGADOR ----------------------------------- */
nav ul {
  display: flex;
  justify-content: space-around;
  background-color: #d14ea5cc;
  height: 2em;
  align-items: center;
  font-family: 'Kdam Thmor Pro', sans-serif;
  font-weight: bolder; }

nav ul a:visited {
  color: #fde7f8; }

nav ul a:active {
  color: #f54242d0; }

/*----------SECCION VIEWS ----------*/
.instrucciones {
  background-color: #d14ea5cc;
  margin: 5em;
  padding: 2em;
  border-radius: 1em;
  color: #fde7f8;
  font-size: 2em;
  font-family: 'Caveat', cursive; }

#juego {
  display: flex;
  justify-content: space-evenly;
  width: 100%; }

#zonaDeJuego {
  position: relative;
  width: auto; }

.subtitulo {
  text-align: center;
  text-shadow: #400242 0px 0px 8px;
  font-size: larger; }

#divFichas {
  display: flex;
  margin-bottom: 2em; }

.ficha {
  background-color: #111;
  z-index: 999; }
  .ficha img:hover {
    z-index: 1;
    visibility: 90%;
    opacity: 90%; }

#divFichas div {
  transform: scale(0.8);
  margin: 0 -1em 0 -1em;
  border: 0.3em solid #400242; }

#botonera, #informacion {
  align-self: center;
  display: flex;
  flex-direction: column;
  width: 25%;
  align-items: center; }

.btnJuego {
  margin: 1em 0 1em 0;
  text-align: center;
  display: inline-block;
  font-size: 1em;
  padding: 1em 2em;
  transition-duration: 0.4s;
  background-color: #fed5ff;
  color: #f54242d0;
  border: 0.2em solid #f396e3;
  text-transform: uppercase;
  font-weight: bold;
  width: 12em; }
  .btnJuego:hover {
    background-color: #d14ea5cc;
    color: #fde7f8; }

.informacion {
  width: 5em;
  transition: 0.2s; }
  .informacion:hover {
    transform: scale(1.2); }

#botonesDeGiro {
  position: absolute;
  display: flex;
  display: none;
  justify-content: space-between;
  width: 156px;
  left: 220px;
  top: 140px; }

.btnGirar {
  width: 35px;
  height: 156px;
  color: #f8d3e7;
  text-shadow: #400240 0px 0px 0.2em;
  font-size: 1.8em;
  font-family: 'Special Elite', cursive;
  background-color: #ee09b577;
  border-color: #f396e3; }

/* 
1-2: slots 1,
3-10: slots 2 y 3,
11,13 y 20: slots 4-6,
12,14,16-17,19: slots 1, 8-9,
15: slots 4-5 y 7,
18: slots 4 ,6-7,

*/
#slot1 {
  left: 219px;
  top: 138px; }

#slot2 {
  left: 219px;
  top: 215px; }

#slot3 {
  left: 219px;
  top: 60px; }

#slot4 {
  left: 141px;
  top: 215px; }

#slot5 {
  left: 295px;
  top: 215px; }

#slot6 {
  left: 295px;
  top: 60px; }

#slot7 {
  left: 143px;
  top: 60px; }

#slot8 {
  left: 65px;
  top: 138px; }

#slot9 {
  left: 373px;
  top: 138px; }

.slots {
  /* display: flex;
    justify-content: center; */
  background-color: #fff3;
  position: absolute;
  height: 152px;
  width: 152px; }
  .slots img {
    width: 152px;
    height: 152px; }
  .slots:hover {
    background-color: rgba(250, 16, 16, 0.067); }

#sesion {
  background-color: #0000;
  border: 0; }

.sessionContainer {
  display: flex;
  width: 100%;
  justify-self: center;
  justify-content: space-evenly; }

.btnSession {
  max-width: 300px;
  min-width: 200px;
  width: 100%;
  margin: 1em 0 1em 0;
  text-align: center;
  display: inline-block;
  font-size: 1em;
  padding: 1em 2em;
  transition-duration: 0.4s;
  background-color: #fed5ff;
  color: #f54242d0;
  border: 2px solid #f396e3;
  text-transform: uppercase;
  font-weight: bold; }

.btnSession:hover {
  background-color: #d14ea5cc;
  color: #fde7f8; }

.formulario {
  display: flex;
  flex-direction: column; }

.sesionForm {
  background-color: #d14ea5cc;
  text-align: center;
  border-radius: 1em;
  padding: 1em 3em 1em 3em;
  margin: 2em 0 3em 0; }

#cerrarSesion {
  margin: auto; }

#contenedorCuenta {
  display: flex;
  flex-direction: column;
  background-color: #d14ea5cc;
  border-radius: 1em;
  margin: 1em 0 1em 0;
  padding: 1em;
  width: 90%;
  min-width: 500px; }

#nombreCuenta {
  text-align: center; }

#informacionPersonal {
  display: flex; }

#divAvatar {
  text-align: center; }

#avatar {
  width: 150px;
  height: 150px;
  border-radius: 100%;
  overflow: hidden;
  margin: 1em 2em 1em 2em; }
  #avatar img {
    height: 100%; }

#contenedorMapas {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1em;
  column-gap: 1.5em;
  justify-items: center; }

#antesala {
  width: 100%;
  display: flex;
  flex-direction: column; }

#contenedorBienvenida {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center; }

.contenedorMapa {
  background: linear-gradient(235deg, #292929 0%, #383838 47%, #4f4f4f 100%);
  height: auto;
  width: 250px;
  overflow: hidden;
  color: aliceblue;
  position: relative;
  transition: 0.3s;
  border: 0px;
  box-shadow: 0.4em 0.2em 1em #11111188; }
  .contenedorMapa:hover {
    margin-top: 0;
    background: linear-gradient(235deg, #222222 0%, #333333 47%, #444444 100%);
    box-shadow: -0.4em -0.2em 1em #11111188; }
  .contenedorMapa img {
    width: 100%;
    height: auto;
    opacity: 40%;
    transition: 0.3s; }
    .contenedorMapa img:hover {
      opacity: 100%; }

/* 
.efectoTyping{
    display: block;
    font-family:'Courier New', Courier, monospace;
    white-space: nowrap;
    border-right: 3px solid;
    width: 12ch; //numero de caracteres que tiene el mensaje
    animation: typing 2s steps(12), blink 0.4s infinite step-end alternate;
    overflow: hidden;
}

@keyframes typing {
    from { width: 0}
}

@keyframes blink {
    50% { border-color: transparent;}
} */
#instrucciones {
  margin: 1em 3em 1em 3em;
  font-family: 'Kdam Thmor Pro', sans-serif;
  color: #fde7f8;
  background-color: #d14ea5cc;
  border-radius: 1em;
  padding: 1em 1em 0.5em 1em; }

/* ---------- LOADER ---------- */
.loader {
  width: 96px;
  box-sizing: content-box;
  height: 48px;
  background: #6e972c;
  border-color: #bfe0a0;
  border-style: solid;
  border-width: 2px 2px 50px 2px;
  border-radius: 100%;
  position: relative;
  animation: 3s yinYang linear infinite; }

.loader:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  background: #6e972c;
  border: 18px solid #bfe0a0;
  border-radius: 100%;
  width: 12px;
  height: 12px;
  box-sizing: content-box; }

.loader:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  background: #bfe0a0;
  border: 18px solid #6e972c;
  border-radius: 100%;
  width: 12px;
  height: 12px;
  box-sizing: content-box; }

@keyframes yinYang {
  100% {
    transform: rotate(360deg); } }

/* ---------- FIN LOADER ---------- */
/* FUENTES PRINCIPALES 
    font-family: 'Orbitron', sans-serif;
    font-family: 'Shadows Into Light', cursive;
    font-family: 'Special Elite', cursive;
    font-family: 'Stick No Bills', sans-serif;
    font-family: 'Press Start 2P', cursive;
*/
/* SECUNDARIAS
    font-family: 'Acme', sans-serif;
    font-family: 'Bangers', cursive;
    font-family: 'Bebas Neue', cursive;
    font-family: 'Caveat', cursive;
    font-family: 'Fascinate', cursive;
    font-family: 'Indie Flower', cursive;
    font-family: 'Kdam Thmor Pro', sans-serif;
    font-family: 'Mali', cursive;
    font-family: 'Merriweather', serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Noto Serif JP', serif;
    font-family: 'Oleo Script', cursive;
    font-family: 'Orbitron', sans-serif;
    font-family: 'Permanent Marker', cursive;
    font-family: 'Potta One', cursive;
    font-family: 'Press Start 2P', cursive;
    font-family: 'PT Mono', monospace;
    font-family: 'Rubik Moonrocks', cursive;
    font-family: 'Russo One', sans-serif;
    font-family: 'Sacramento', cursive;
    font-family: 'Shadows Into Light', cursive;
    font-family: 'Source Code Pro', monospace;
    font-family: 'Special Elite', cursive;
    font-family: 'Stick No Bills', sans-serif;
    font-family: 'Yellowtail', cursive;
*/
