@import 'utilities/variables';
/*
@import 'base/reset';
@import 'utilities/mixins';
/*----------SECCION LAYOUT ----------*/
/* @import 'layout/grid';
@import 'layout/header';
@import 'layout/main';
@import 'layout/footer'; */
/*----------SECCION ELEMENTOS ----------*/
/* @import 'components/logo';
@import 'components/nav';
@import 'components/redes';
@import 'components/whatsapp'; */
/*----------SECCION HTMLs ----------*/
/* @import 'views/unete_al_equipo';
@import 'views/noticias';
@import 'views/productos';
@import 'views/quienes_somos';
@import 'views/ver_carrito'; */
/*---------- SECCION MEDIA QUERIES ----------*/
/* @import ''; */ 

//FUENTES para la WEBAPP
/* 
    font-family: 'Acme', sans-serif;
    font-family: 'Bangers', cursive;
    font-family: 'Bebas Neue', cursive;
    font-family: 'Caveat', cursive;
    font-family: 'Fascinate', cursive;
    font-family: 'Indie Flower', cursive;
    font-family: 'Kdam Thmor Pro', sans-serif;
    font-family: 'Mali', cursive;
    font-family: 'Merriweather', serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Noto Serif JP', serif;
    font-family: 'Oleo Script', cursive;
    font-family: 'Orbitron', sans-serif;
    font-family: 'Permanent Marker', cursive;
    font-family: 'Potta One', cursive;
    font-family: 'Press Start 2P', cursive;
    font-family: 'PT Mono', monospace;
    font-family: 'Rubik Moonrocks', cursive;
    font-family: 'Russo One', sans-serif;
    font-family: 'Sacramento', cursive;
    font-family: 'Shadows Into Light', cursive;
    font-family: 'Source Code Pro', monospace;
    font-family: 'Special Elite', cursive;
    font-family: 'Stick No Bills', sans-serif;
    font-family: 'Yellowtail', cursive;
*/

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box; 
}

html {
    height: auto;
}

body {
    font-family: "Roboto Mono", monospace;
    background-image: url("../assets/img/background/background4.jpg");
    background-attachment: fixed;
    background-size: cover;
    height: 100%;
    min-height: 100%
}
.main{
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#juego{
    display: flex;
    margin-top: 2em;
    margin-bottom: 2em;
}
#mapaAnterior, #mapaSiguiente{
    background-color: $color-container-background;
    margin: 0 1em 0 1em;
}

.instrucciones{
    background-color: $color-container-background;
    margin: 5em;
    padding: 2em;
    border-radius: 1em;
    color: $color-texto;
    font-size: 2em;
    font-family: 'Caveat', cursive;
    /* 
    font-family: 'Orbitron', sans-serif;
    font-family: 'Shadows Into Light', cursive;
    font-family: 'Special Elite', cursive;
    font-family: 'Stick No Bills', sans-serif;
    font-family: 'Press Start 2P', cursive;
    */
}
.subtitulo{
    text-align: center;
    text-shadow: #400242 0px 0px 8px;
    font-size: larger;
}
#fichas{
    display: flex;
    margin-bottom: 2em;
}
#fichas div{
    border: 0.2em solid black;
    margin: 0.5em;
    transform: scale(0.8);
}

.titulo{
  color: $color-texto;
  font-weight: bold;
  text-shadow: #ec0785 0px 0px 0.2em;
}
nav ul{
    display: flex;
    justify-content: space-around;
    background-color: $color-container-background;
    height: 2em;
    align-items: center;
    font-family: 'Kdam Thmor Pro', sans-serif;
    font-weight: bolder;
}

nav ul a:visited{
  color: $color-texto;
}
nav ul a:active{
  color: $color-texto-secundario;
}
      

#sesion{
    background-color: #0000;
    border: 0;
}

.sessionContainer{
  display: flex;
  width: 100%;
  justify-self: center;
  justify-content: space-evenly;
}

.btnSession{
  max-width: 300px;
  min-width: 200px;
  width: 100%;
  margin: 1em 0 1em 0;
  text-align: center;
  display: inline-block;
  font-size: 1em;
  padding: 1em 2em;
  transition-duration: 0.4s;
  background-color: #fed5ff;
  color: $color-texto-secundario;
  border: 2px solid #f396e3;
  text-transform: uppercase;
  font-weight: bold;
  }
  .btnSession:hover{
    background-color: $color-container-background;
    color: $color-texto; }

  #instrucciones{
    margin: 1em 3em 1em 3em;
    font-family: 'Kdam Thmor Pro', sans-serif;
    color: $color-texto;
    background-color: $color-container-background;
    border-radius: 1em;
    padding: 1em 1em 0.5em 1em;
  }

  .footer{
    color: $color-texto;
    background-color: $color-container-background;
    padding: 1em;
  }
  .footer h6{
    font-size: small;
    line-height: 1em;
  }
/* ---------- LOADER ---------- */

/* .loader {
    width: 96px;
    box-sizing: content-box;
    height: 48px;
    background: #6e972c;
    border-color: #bfe0a0;
    border-style: solid;
    border-width: 2px 2px 50px 2px;
    border-radius: 100%;
    position: relative;
    animation: 3s yinYang linear infinite;
  }
  .loader:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    background: #6e972c;
    border: 18px solid #bfe0a0;
    border-radius: 100%;
    width: 12px;
    height: 12px;
    box-sizing: content-box;
  }
  .loader:after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    background: #bfe0a0;
    border: 18px solid #6e972c;
    border-radius: 100%;
    width: 12px;
    height: 12px;
    box-sizing: content-box;
  }
  @keyframes yinYang {
    100%{transform: rotate(360deg)}
  } */
/* ---------- FIN LOADER ---------- */  