@import 'utilities/variables';
@import 'base/reset';
@import 'utilities/mixins';
/*----------SECCION LAYOUT ----------*/
@import 'layout/main';
@import 'layout/footer'; 
/*----------SECCION ELEMENTOS ----------*/
@import 'components/nav';
/*----------SECCION VIEWS ----------*/
@import 'views/instrucciones';
@import 'views/puzzles';
@import 'views/slots';
@import 'views/sesion';

#instrucciones {
  margin: 1em 3em 1em 3em;
  font-family: 'Kdam Thmor Pro', sans-serif;
  color: #fde7f8;
  background-color: #d14ea5cc;
  border-radius: 1em;
  padding: 1em 1em 0.5em 1em; }
/* ---------- FIN LOADER ---------- */