@mixin slot{
    background-color: rgb(212, 78, 16);
    position: absolute;
    height: 155px;
    width: 155px;
    &:hover{
        background-color: rgba(250, 16, 16, 0.067);
    }
    &:active{
        background-image: url("../assets/img/fichas/ficha1.png");
        background-size: cover;
    }
}