
/*--------------- VARIABLES ---------------*/
/* Colores */
$color-primario:#fde7f8;
$color-secundario:#d14ea5aa;
$color-terciario:#fd6565;
$color-texto-secundario:#f54242d0;
$color-container-background: #d14ea5cc;
$color-texto: #fde7f8;
/* Fuentes */
$fuente-primaria:'Roboto Mono', monospace;
$fuente-secundaria: 'Supermercado One', monospace;
/*------------FIN VARIABLES-------------*/