
/*--------------- VARIABLES ---------------*/
/* Colores */
$color-primario:#a7ca74;
$color-secundario:#6a7a2a;
$color-primario--alfa:#a7ca7422;
$color-secundario--alfa:#6a7a2a44;
$color-background: #c4d3af;
$color-novedades: #263b26;
/* Fuentes */
$fuente-primaria:'Roboto Mono', monospace;
$fuente-secundaria: 'Supermercado One', monospace;
/*------------FIN VARIABLES-------------*/