
/*   FOOTER                                                    */

.footer{
    color: $color-texto;
    background-color: $color-container-background;
    padding: 1em;
}
.footer h6{
    font-size: small;
    line-height: 1em;
}

