.logo--css{
    margin: 1em;
    position: relative;
    width: 8em;
    height: 8em;
    border-radius: 100%;
    background-color: #002200;
    overflow: hidden;
}
.circulo1{
    background-color: #113311;
    width: 90%;
    height: 90%;
    left:5%;
    top: 5%;
    @include logo--circulo;
}
.circulo2{
    background-color: #224422;
    width: 80%;
    height: 80%;
    left:10%;
    top: 10%;
    @include logo--circulo;
}
.circulo3{
    background-color: #335533;
    width: 70%;
    height: 70%;
    left:15%;
    top: 15%;
    @include logo--circulo;
}
.circulo4{
    background-color: #446644;
    width: 60%;
    height: 60%;
    left:20%;
    top: 20%;
    @include logo--circulo;
}
.circulo5{
    background-color: #557755;
    width: 50%;
    height: 50%;
    left:25%;
    top: 25%;
    @include logo--circulo;
}
.circulo6{
    background-color: #668866;
    width: 40%;
    height: 40%;
    left:30%;
    top: 30%;
    @include logo--circulo;
}
.circulo7{
    background-color: #779977;
    width: 30%;
    height: 30%;
    left:35%;
    top: 35%;
    @include logo--circulo;
}
.circulo8{
    background-color: #88aa88;
    width: 20%;
    height: 20%;
    left: 40%;
    top: 40%;
    @include logo--circulo;
}
.circulo9{
    background-color: #99bb99;
    width: 10%;
    height: 10%;
    left: 45%;
    top: 45%;
    @include logo--circulo;
}
.circulo10{
    background-color: black;
    width: 0%;
    height: 0%;
    left: 49.5%;
    top: 49.5%;
    @include logo--circulo;
}
.logo--css:hover div{
    width: 90%;
    height: 90%;
    top:5%;
    left:5%;
}
/*FIN LOGO*/