/*-------------------------------- NAVEGADOR ----------------------------------- */
nav ul{
    display: flex;
    justify-content: space-around;
    background-color: $color-container-background;
    height: 2em;
    align-items: center;
    font-family: 'Kdam Thmor Pro', sans-serif;
    font-weight: bolder;
}

nav ul a:visited{
    color: $color-texto;
}

nav ul a:active{
    color: $color-texto-secundario;
}