#contenedorMapas{
    display: grid;
    grid-template-columns: repeat(
        auto-fit,
        minmax(
            250px,
            1fr
        )
    );
    gap: 1em;
    column-gap: 1.5em;
    justify-items: center;
}

#antesala{
    width: 100%;
    display: flex;
    flex-direction: column;
}

#contenedorBienvenida{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contenedorMapa{
    background: linear-gradient(235deg, rgba(41,41,41,1) 0%, rgba(56,56,56,1) 47%, rgba(79,79,79,1) 100%);
    height: auto;
    width: 250px;
    //border-radius: 12px;
    overflow: hidden;
    color: aliceblue;
    position: relative;
    transition: 0.3s;
    border: 0px;
    box-shadow: 0.4em 0.2em 1em #11111188;
    &:hover{
        margin-top: 0;
        background: linear-gradient(235deg, rgba(34,34,34,1) 0%, rgba(51,51,51,1) 47%, rgba(68,68,68,1) 100%);
        box-shadow: -0.4em -0.2em 1em #11111188;}
    & img{
        width: 100%;
        height: auto;
        //border-radius: 12px 12px 0 0;
        opacity: 40%;
        transition: 0.3s;
        &:hover{
            opacity: 100%;
        }}
}
/* 
.efectoTyping{
    display: block;
    font-family:'Courier New', Courier, monospace;
    white-space: nowrap;
    border-right: 3px solid;
    width: 12ch; //numero de caracteres que tiene el mensaje
    animation: typing 2s steps(12), blink 0.4s infinite step-end alternate;
    overflow: hidden;
}

@keyframes typing {
    from { width: 0}
}

@keyframes blink {
    50% { border-color: transparent;}
} */