// INSTRUCCIONES ****************

.instrucciones{
    background-color: $color-container-background;
    margin: 5em;
    padding: 2em;
    border-radius: 1em;
    color: $color-texto;
    font-size: 2em;
    font-family: 'Caveat', cursive;
}
// FIN INSTRUCCIONES *************