// INSTRUCCIONES ****************

.instrucciones{
    background-color: $color-container-background;
    margin: 5em;
    padding: 2em;
    border-radius: 1em;
    color: $color-texto;
    font-size: 1.5em;
    font-family: 'Caveat', cursive;
}

#simbologia{
    & li{
        display: flex;
        margin: 1em 0 1em 0;
        & .simbolo{
            border-radius: 100%;
            width: 55px;
            height: 55px;
            margin-right: 1em;
            &--2{
                margin-right: 1em;
                border-radius: 0.5em;
                height: 55px;
            }
        }
        & .ejemplo{
            border-radius: 0.5em;
            justify-items: center;
        }
    }
    & .centrado{
        justify-content: center;
        position: relative;
        & #ejemploMensaje{
            right: 10em;
            box-shadow: -0.3em -0.3em 1rem 00.1em rgba(0, 0, 0, 0.15);
            top: 6.7em;
            position: absolute;
            font-size: 0.7em;
            color: black;
            border-radius: 8px;
            height: auto;
            width: 8em;
            text-align: center;
            padding: 0.7em 1em 0.7em 1em;
            background-color: aliceblue;
        }
    }
}
// FIN INSTRUCCIONES *************