// PUZZLES ********************
#juego{
    display: flex;
    margin-top: 2em;
    margin-bottom: 2em;
}
#zonaDeJuego{
    position: relative;
}

#mapaAnterior, #mapaSiguiente{
    background-color: $color-container-background;
    margin: 0 1em 0 1em;
}

.subtitulo{
    text-align: center;
    text-shadow: #400242 0px 0px 8px;
    font-size: larger;
}

#divFichas{
    display: flex;
    margin-bottom: 2em;
}
.ficha{
    background-color: #111;
    z-index: 999;
    & img:hover{
        z-index: 1;
        visibility: 90%;
        opacity: 90%;
    }
}

#divFichas div{
    transform: scale(0.8);
    margin: 0 -1em 0 -1em;
    border: 0.3em solid #400242;
}



.btnJuego{
text-align: center;
display: inline-block;
font-size: 1em;
padding: 1em 2em;
transition-duration: 0.4s;
background-color: #fed5ff;
color: $color-texto-secundario;
border: 0.2em solid #f396e3;
text-transform: uppercase;
font-weight: bold;
width: 100%;
height: 100%;
    &:hover {
        background-color: $color-container-background;
        color: $color-texto;}
}

#botonesDeGiro{
    position: absolute;

    display: flex;
    display: none;  
    justify-content: space-between;
    width: 156px;
    left: 220px;
    top: 140px;
}
.btnGirar{
    width: 35px;
    height: 156px;
    color: #f8d3e7;
    text-shadow: #400240 0px 0px 0.2em;
    font-size: 1.8em;
    font-family: 'Special Elite', cursive;
    background-color: #ee09b577;
    border-color: #f396e3;
}


//FIN PUZZLES *******************************************