// PUZZLES ********************
#juego{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

#zonaDeJuego{
    position: relative;
    width: auto;
}

.subtitulo{
    text-align: center;
    text-shadow: #400242 0px 0px 8px;
    font-size: larger;
}

#divFichas{
    display: flex;
    margin-bottom: 2em;
}
.ficha{
    width: 200px;
    height: 200px;
    background-color: #111;
    z-index: 999;
    & img{
        width: 100%;
    }
    & img:hover{
        z-index: 1;
        visibility: 90%;
        opacity: 90%;}
}

#divFichas div{
    transform: scale(0.8);
    margin: 0 -1em 0 -1em;
    border: 0.3em solid #400242;
}

#botonera, #informacion{
    align-self: center;
    display: flex;
    flex-direction: column;
    width: 25%;
    align-items: center;
}

.btnJuego{
    margin: 1em 0 1em 0;
    text-align: center;
    display: inline-block;
    font-size: 1em;
    padding: 1em 2em;
    transition-duration: 0.4s;
    background-color: #fed5ff;
    color: $color-texto-secundario;
    border: 0.2em solid #f396e3;
    text-transform: uppercase;
    font-weight: bold;
    width: 12em;

        &:hover {
            background-color: $color-container-background;
            color: $color-texto;}
}
.informacion{
    width: 5em;
    transition: 0.2s;
    &:hover{
        transform: scale(1.2);
    }
}

#botonesDeGiro{
    position: absolute;
    display: flex;
    display: none;  
    justify-content: space-between;
    width: 156px;
    left: 220px;
    top: 140px;
}
.btnGirar{
    width: 35px;
    height: 156px;
    color: #f8d3e7;
    text-shadow: #400240 0px 0px 0.2em;
    font-size: 1.8em;
    font-family: 'Special Elite', cursive;
    background-color: #ee09b577;
    border-color: #f396e3;
}

//FIN PUZZLES *******************************************