//SLOTS**************************************************

#slot1{
    left: 219px;
    top: 138px;
    display: flex;
    justify-content: center;
    & img{
        align-self: center;
        width: 152px;
        height: 152px;
    }
}

#slot2{
    left: 586px;
    top: 505px;
}

.slots{
    background-color: #fff3;
    position: absolute;
    height: 157px;
    width: 157px;
    &:hover{
        background-color: rgba(250, 16, 16, 0.067);
    }
}
