/*RESET y ESTILOS GENERALES*/
* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
html {
    height: auto;
    width:100%;
}

body {
    font-family: "Roboto Mono", monospace;
    background-image: url("../assets/img/background/background4.jpg");
    background-attachment: fixed;
    background-size: cover;
    height: 100%;
    min-height: 100%
}

.titulo{
    color: $color-texto;
    font-weight: bold;
    text-shadow: #ec0785 0px 0px 0.2em;
}

/*FIN ESTILOS GENERALES*/